@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:10px">
    <a class="btn btn-lg btn-success" href="/Movies">Let's go to the movies!</a>
</div>
<div style="padding-top:10px">
    <a class="btn btn-lg btn-success" href="/Reviews">Look at the reviews</a>
</div>